BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
SortIncludes: true

NumericLiteralCase:
  Prefix: Lower
  HexDigit: Lower
  Suffix: Leave
  ExponentLetter: Leave